.top-bar {
    margin-bottom: 10px;
    margin-top: 10px;
}

.button-slider {
    padding: 0px;
    /* gray border */
    border: 2px solid #bdbcbc;
    border-radius: 100px;
    /* width: 50%; */
}

.botones {
    width: 100%;
    height: 35px;
    margin: 0px;
    background-color: transparent;
    border: none;
    border-radius: 30px;
    user-select: none;
}


.button-background-hover-left {
    background-color: transparent;
    position: absolute;
    width: 33.33%;
    height: 100%;
    margin: 0px;
    border: none;
    border-radius: 30px;
    transition: all 0.2s ease-in-out;
    pointer-events: none;
    z-index: 10;
}

.button-background-hover-center {
    background-color: transparent;
    position: absolute;
    left: 33.33%;
    width: 33.33%;
    height: 100%;
    margin: 0px;
    border: none;
    border-radius: 30px;
    transition: all 0.2s ease-in-out;
    pointer-events: none;
    z-index: 10;
}

.button-background-hover-right {
    background-color: transparent;
    position: absolute;
    right: 0%;
    width: 33.33%;
    height: 100%;
    margin: 0px;
    border: none;
    border-radius: 30px;
    transition: all 0.2s ease-in-out;
    pointer-events: none;
    z-index: 10;
}

.botones:hover + .button-background-hover-left,
.botones:hover + .button-background-hover-center,
.botones:hover + .button-background-hover-right {
    background-color: #e6e6e6;
}

.botones:focus {
    outline: none;
}

.button-background {
    background-color: rgb(102, 211, 75);
    position: absolute;
    width: 33.33%;
    height: 100%;
    margin: 0px;
    border: none;
    border-radius: 30px;
    transition: all 0.5s ease-in-out;
    pointer-events: none;
    z-index: 900;
    
}

.button-background div {
    /* acomodar el span en el centro en vertical */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: black;
}

.btn-bgr-right {
    transform: translateX(200.3%);
}

.btn-bgr-center {
    transform: translateX(100%);
}

.button-background:hover {
    background-color: white;
}

.botones {
    z-index: 999;
}

/* 


|||||||||||||||||||||||||||| Contenidos |||||||||||||||||||||||||||||


*/

.container-activo {
    display: block;
}

#container-tareas {
    display: none;
}





#boton-horario ~ .container-horario{
    display: block;
}
