body {
    margin: 0px;
    padding: 0px;
}

.container-everything {
    height: 100vh;
}

.container-top {
    height: 20vh;
    user-select: none;
}

.top-bar {
    padding: 10px;
}

.button-slider {
    padding: 0px;
    border: 2px solid #bdbcbc;
    border-radius: 100px;
    margin-bottom: 20px; 
}

.botones {
    width: 100%;
    height: 35px;
    margin: 0px;
    background-color: transparent;
    border: none;
    border-radius: 30px;
    user-select: none;
}

@media (max-width: 768px) {
    .botones {
        height: 70px;
    }
}

@media (max-width: 768px) {
    .button-background-hover-left,
    .button-background-hover-center,
    .button-background-hover-right {
        display: none;
    }
}

.button-background-hover-left {
    background-color: transparent;
    position: absolute;
    width: 33.33%;
    height: 100%;
    margin: 0px;
    border: none;
    border-radius: 30px;
    transition: all 0.2s ease-in-out;
    pointer-events: none;
    z-index: 10;
}

.button-background-hover-center {
    background-color: transparent;
    position: absolute;
    left: 33.33%;
    width: 33.33%;
    height: 100%;
    margin: 0px;
    border: none;
    border-radius: 30px;
    transition: all 0.2s ease-in-out;
    pointer-events: none;
    z-index: 10;
}

.button-background-hover-right {
    background-color: transparent;
    position: absolute;
    right: 0%;
    width: 33.33%;
    height: 100%;
    margin: 0px;
    border: none;
    border-radius: 30px;
    transition: all 0.2s ease-in-out;
    pointer-events: none;
    z-index: 10;
}

.botones:hover + .button-background-hover-left,
.botones:hover + .button-background-hover-center,
.botones:hover + .button-background-hover-right {
    background-color: #e6e6e6;
}

.botones:focus {
    outline: none;
}

.button-background {
    background-color: rgb(130, 224, 107);
    position: absolute;
    width: 33.33%;
    height: 100%;
    margin: 0px;
    border: none;
    border-radius: 30px;
    transition: all 0.3s ease-in-out;
    pointer-events: none;
    z-index: 900;
    
}

.button-background div {
    /* acomodar el span en el centro en vertical */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: black;
}

.btn-bgr-right {
    transform: translateX(200.3%);
}

.btn-bgr-center {
    transform: translateX(100%);
}

.button-background:hover {
    background-color: white;
}

.botones {
    z-index: 999;
}

/* 


|||||||||||||||||||||||||||| Contenidos |||||||||||||||||||||||||||||


*/

.container-varios {
    height: 80vh;
}

/* 
.container-all {
    
} 
*/

.container-activo {
    display: block !important;
}

.row-containers:nth-child(1) {
    margin-top: 0px;
}

.col-containers {
    position: relative;
    padding: 15px;
    background-color: whitesmoke;
    border-radius: 45px;
    border: 1px solid #bdbcbc;
    height: 30vh;
    justify-content: center;
    align-items: center;
    text-align: center;
}

@media (max-width: 768px) {
    .col-containers:last-child {
        margin-bottom: 50px;
    }
}

.circulo {
    position: absolute;
    left: 20px;
    bottom: 20px;
    height: 30px;
    width: 30px;
    border-radius: 20px;
    border: 3px dashed #333;
    background-color: gray;
}

.my-tooltip::after {
    content: attr(data-tooltip);
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: #fff;
    padding: 5px 10px;
    border-radius: 30px;
    opacity: 0;
    transition: all 0.2s;
}

@media (max-width: 768px) {
    .my-tooltip::after {
        bottom: 300%;
    }
}

.my-tooltip:hover::after {
    opacity: 1;
}

.c-ingles {
    background-color: rgb(177, 20, 177) !important;
}

.more {
    position: absolute;
    right: 20px;
    bottom: 20px;
    height: 30px;
    width: 30px;
    border-radius: 20px;
    border: 3px dashed #333;
    background-color: rgb(57, 172, 86);
    cursor: pointer;
}

.more::after {
    width: max-content;
}

.titulo-tarea {
    font-size: large;
    font-weight: 600;
    user-select: none;
}

.imagen-container-tarea {
    justify-content: center;
    text-align: center;
    height: 50%;
    user-select: none;
}

.imagen-tarea {
    height: 30vh;
    width: auto;
    max-width: 100%;
    max-height: 100%;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    margin-bottom: 20px;
}

@media (max-width: 768px) {
    .imagen-tarea {
        width: 100%;
        height: auto;
    }
}

.imagen-tarea:hover {
    transform: scale(1.05);
}

.image-fullscreen {
    position: absolute;
    display: none;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    background-color: rgba(51, 51, 51, 0.6);
    z-index: 900;
}

.image-fullscreen-content {
    position: absolute;
    display: flex;
    height: 100%;
    width: 100%;
    z-index: 901;
    opacity: 1;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
}

#image-in-fullscreen {
    height: auto;
    width: auto;
    max-width: 80%;
    max-height: 80%;
    cursor: default;
}

@media (max-width: 768px) {
    #image-in-fullscreen {
        max-width: 100%;
        max-height: 100%;
    }
}

/* display none */

#container-tareas {
    display: none;
}

#container-actividades {
    display: none;
}

#container-horario{
    display: none;
}
