.top-bar {
    margin-bottom: 20px;
    margin-top: 10px;
}

.button-slider {
    padding: 0px;
    /* gray border */
    border: 2px solid #bdbcbc;
    border-radius: 100px;
    width: 50%;
}

.botones {
    width: 100%;
    height: 50px;
    margin: 0px;
    background-color: white;
    border: none;
    border-radius: 30px;
}

.botones:hover {
    background-color: #e6e6e6;
}

#boton-horario ~ .container-horario{
    display: block;
}

.botones.active {
    background-color: #f00;
    color: #fff;
}

.botones:focus {
    outline: none;
}