/* Estilos para ocultar los elementos de contenido por defecto */
.contenido > div {
    display: none;
  }
  
  /* Estilos para mostrar el contenido correspondiente al botón activado */
  #boton1:checked ~ .contenido #contenido1,
  #boton2:checked ~ .contenido #contenido2,
  #boton3:checked ~ .contenido #contenido3 {
    display: block;
  }
  
  /* Estilos para los botones */
  .botones label {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ccc;
    cursor: pointer;
  }
  
  .botones label:hover {
    background-color: #ddd;
  }
  
  /* Estilos para el botón activado */
  .botones input[type="radio"]:checked + label {
    background-color: #f00;
    color: #fff;
  }

  /* Estilos para ocultar el círculo predeterminado en los radio buttons */
.botones input[type="radio"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 20px; /* Tamaño del botón personalizado */
    height: 20px; /* Tamaño del botón personalizado */
    border: 1px solid #ccc; /* Borde del botón personalizado */
    border-radius: 50%; /* Forma del botón personalizado (circular) */
    outline: none; /* Quita el contorno al hacer clic */
    cursor: pointer;
    margin-right: 5px; /* Espaciado entre los botones personalizados */
  }
  
  /* Estilos para el botón personalizado cuando está marcado */
  .botones input[type="radio"]:checked {
    display: none;
  }
  
  /* Estilos para los botones de etiqueta */
  .botones label {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ccc;
    cursor: pointer;
  }
  
  .botones label:hover {
    background-color: #ddd;
  }
  